<div th:fragment="actorDetailFragment(actor)" xmlns:th="http://www.w3.org/1999/xhtml">
    <div id="movie">
        <h4><strong th:text="${ actor.getName() }">Actor</strong></h4>

        <div><strong>id: </strong><span th:text="${ actor.getId() }"></span></div>
        <!--<div><strong>profile path: </strong><span><a target="_blank" th:href="${ actor.getProfilePath() }" th:text="${ actor.getProfilePath() }"></a></span></div>-->
        <div><strong>gender: </strong><span th:text="${ actor.getGender() }"></span></div>
    </div>


    <h5 class="mt-2"><strong>Movies</strong></h5>
    <strong>played movies</strong>
    <div class="row">
        <div class="ml-3" th:each="movie, count : ${actor.getMovies()}">
            <strong th:text="${count.count + '. '}"></strong>
            <a th:href="@{/movies/detail/{id}(id = ${movie.getIdMovie()} )}">
                <span th:text="${movie.getTitle()}"></span>
            </a><span th:text="${' as ' +  movie.getCharacter()}"></span>
        </div>
    </div>
</div>