<div th:fragment="actorsFragment(actors)" xmlns:th="http://www.w3.org/1999/xhtml">
    <form action="#" th:action="@{/actors/{page}(page = ${page} )}">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
            <input class="form-control" id="search" name="search" type="text" placeholder="name"
                   aria-label="actor-search">
        </div>
    </form>
    <table class="table-bordered table mt-3">
        <tr class="table-head">
            <th>NAME</th>
            <th>ID</th>
            <th>GENDER</th>

        </tr>
        <tr th:each="actor : ${actors}">
            <td>
                <a th:href="@{/actors/detail/{id}(id = ${actor.getId()} )}">
                    <span th:text="${ actor.getName() }"></span>
                </a>
            </td>
            <td><span th:text="${ actor.getId() }"></span></td>
            <td><span th:text="${ actor.getGender() }"></span></td>
            <!--<td><a target="_blank" th:href="${ 'https://www.imdb.com/title/' + movie.getIdImdb() }"><span th:text="${ movie.getIdImdb() }"></span></a></td>-->

        </tr>
    </table>
    <nav>
        <ul class="pagination justify-content-center" th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">
            <li th:classappend="${page == i} ? active : inactive" class="page-item"
                th:each="i : ${#numbers.sequence(startPage , endPage)}">
                <a class="page-link" th:href="${#uris.unescapePath(urlBuilder.replacePath('/actors/' + i).toUriString())}" th:text="${i}"></a>
            </li>
        </ul>
    </nav>
</div>