.nav-link {
  color: whitesmoke !important;
  font-weight: 600;
  font-size: 18px;
}

table td {
  padding: 0.25rem !important;
}

.form-group {
  padding-right: 10px;
}

.input-group.md-form.form-sm.form-1 input {
  border: 1px solid #00bfff;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

/*# sourceMappingURL=main.css.map */
