<div th:fragment="movieDetailFragment(movie)" xmlns:th="http://www.w3.org/1999/xhtml">


    <div id="movie">
        <div class="row"><span>This is an image from obelix:</span><img
                th:src="*{'data:image/png;base64,'+ movie.getImage()}"/>
        </div>

        <h4><strong th:text="${ movie.getTitle() }"></strong></h4>
        <div><strong>id: </strong><span th:text="${ movie.getId() }"></span></div>
        <div><strong>id Imdb: </strong><a target="_blank"
                                          th:href="${ 'https://www.imdb.com/title/' + movie.getIdImdb() }"><span
                th:text="${ movie.getIdImdb() }"></span></a></div>
        <div><strong>id Tmdb: </strong><span th:text="${ movie.getIdTmdb() }"></span></div>
        <div><strong>rating: </strong><span th:text="${ movie.getRating() }"></span></div>
        <div><strong>original title: </strong><span th:text="${ movie.getOriginalTitle() }"></span></div>
        <div><strong>original language: </strong><span th:text="${ movie.getOriginalLanguage() }"></span></div>
        <div><strong>budget: </strong><span th:text="${ movie.getBudget() }"></span></div>
        <div><strong>adult: </strong><span th:text="${ movie.isAdult() }"></span></div>
        <div><strong>home page: </strong><span><a target="_blank" th:href="${ movie.getHomePage() }"
                                                  th:text="${ movie.getHomePage() }"></a></span></div>
        <div><strong>overview: </strong><span th:text="${ movie.getOverview() }"></span></div>
        <div><strong>popularity: </strong><span th:text="${ movie.getPopularity() }"></span></div>
        <div><strong>release date: </strong><span th:text="${ movie.getReleaseDate().toString() }"></span></div>
        <div><strong>revenue: </strong><span th:text="${ movie.getRevenue() }"></span></div>
        <div><strong>run time: </strong><span th:text="${ movie.getRunTime() }"></span> min</div>
        <div><strong>tag line: </strong><span th:text="${ movie.getTagLine() }"></span></div>
    </div>


    <strong>Genres</strong>
    <div><span th:each="genre : ${movie.getGenres()}" th:text="${ genre.getName() + ', ' }"></span></div>

    <strong>Spoken Languages</strong>
    <div><span th:each="language : ${movie.getSpokenLanguages()}" th:text="${ language.getName() + ', ' }"></span></div>

    <strong>Keywords</strong>
    <div><span th:each="keyword : ${movie.getKeywords()}" th:text="${ keyword.getName() + ', ' }"></span></div>

    <strong>Companies</strong>
    <div><span th:each="company : ${movie.getCompanies()}" th:text="${ company.getName() + ', ' }"></span></div>

    <strong>Production Countries</strong>
    <div><span th:each="country : ${movie.getProductionCountries()}" th:text="${ country.getName() + ', ' }"></span>
    </div>

    <div class="row">

        <div class="col-6">
            <strong>Actors</strong>
            <div th:each="actor : ${movie.getActors()}">
                <a th:href="@{/actors/detail/{id}(id = ${actor.getId()} )}" th:text="${actor.getName()}"></a>
                <span th:text="${' as ' + actor.getCharacter()}"></span>
            </div>
        </div>


        <div class="col-6">
            <strong>Crew</strong>
            <div th:each="crew : ${movie.getCrew()}">
                <a th:href="@{/crew/detail/{id}(id = ${crew.getId()} )}" th:text="${crew.getName()}"></a>
                <span th:text="${ ' as ' + crew.getJob() + ' in ' + crew.getDepartment() + ' department'}"></span>
            </div>
        </div>
    </div>

    <form th:action="@{/movies/rate/{id}(id = ${movie.getId()})}" action="#" method="post">
        <h4>Rate Movie</h4>
        <div class="form-group">
            <label for="nickname">Nickname</label>
            <input type="text" class="form-control" id="nickname" name="nickname" aria-describedby="nickname"
                   placeholder="Enter nickname">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>

        <div class="form-group">
            <label for="rating">Rating</label>
            <input type="number" step="0.01" max="10" min="1" class="form-control" id="rating" name="rating"
                   placeholder="Rating">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <p id="wrongPassword" class="text-danger" th:if="${wrongPassword}">Wrong password</p>
    </form>
</div>