<div th:fragment="moviesFragment(movies)" xmlns:th="http://www.w3.org/1999/xhtml">

    <form th:action="@{/movies/{page}(page = ${page} )}" class="form-inline" action="#" method="get">
        <div class="form-group">
            <input placeholder="Title" aria-label="title" type="text" class="form-control" id="title" name="title">
        </div>
        <div class="form-group">
            <input placeholder="Id Imdb" aria-label="idImdb" type="text" class="form-control" id="idImdb" name="idImdb">
        </div>
        <div class="form-group">
            <input placeholder="Budget Min" aria-label="budgetMin" type="text" class="form-control" id="budgetMin" name="budgetMin">
        </div>
        <div class="form-group">
            <input placeholder="Budget Max" aria-label="budgetMax" type="text" class="form-control" id="budgetMax" name="budgetMax">
        </div>
        <div class="form-group">
            <input placeholder="Original Language" aria-label="originalLanguage" type="text" class="form-control" id="originalLanguage" name="originalLanguage">
        </div>
        <div class="form-group">
            <input placeholder="Rating Min" aria-label="ratingMin" type="number" step="0.01" class="form-control" id="ratingMin" name="ratingMin">
        </div>
        <div class="form-group">
            <input placeholder="Rating Max" aria-label="ratingMax" type="number" step="0.01" class="form-control" id="ratingMax" name="ratingMax">
        </div>
        <div class="form-group">
            <input placeholder="Keywords" aria-label="keywords" type="text" class="form-control" id="keywords" name="keywords">
        </div>
        <div class="form-group">
            <input placeholder="Genres" aria-label="genres" type="text" class="form-control" id="genres" name="genres">
        </div>
        <div class="form-group">
            <input placeholder="Countries" aria-label="countries" type="text" class="form-control" id="countries" name="countries">
        </div>
        <div class="form-group">
            <input placeholder="Companies" aria-label="companies" type="text" class="form-control" id="companies" name="companies">
        </div>
        <div class="form-group">
            <input placeholder="Actors" aria-label="actors" type="text" class="form-control" id="actors" name="actors">
        </div>
        <div class="form-group">
            <input placeholder="Crew" aria-label="crew" type="text" class="form-control" id="crew" name="crew">
        </div>
        <div class="form-group">
            <strong><label class="pr-1" for="releaseDateBottom">Date From:</label></strong>
            <input aria-label="releaseDateBottom" type="date" class="form-control" id="releaseDateBottom" name="releaseDateBottom">
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="asc-desc" name="asc-desc">
            <label class="form-check-label" for="asc-desc">DESC?</label>
        </div>
        <div class="form-group">
            <strong><label class="pr-1" for="releaseDateTop">Date to:</label></strong>
            <input aria-label="releaseDateTop" type="date" class="form-control" id="releaseDateTop" name="releaseDateTop">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <table class="table-bordered table mt-3">
        <tr class="table-head" th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">
            <th><a th:href="${urlBuilder.replaceQueryParam('orderBy', 'TITLE').toUriString()}">TITLE</a></th>
            <th><a th:href="${urlBuilder.replaceQueryParam('orderBy', 'ORIGINAL_TITLE').toUriString()}">ORIGINAL TITLE</a></th>
            <th><a th:href="${urlBuilder.replaceQueryParam('orderBy', 'ID_IMDB').toUriString()}">ID IMDB</a></th>
            <th><a th:href="${urlBuilder.replaceQueryParam('orderBy', 'ID_TMDB').toUriString()}">ID TMDB</a></th>
            <th><a th:href="${urlBuilder.replaceQueryParam('orderBy', 'COALESCE(AVG(RATING),0)').toUriString()}">RATING</a></th>
            <th><a th:href="${urlBuilder.replaceQueryParam('orderBy', 'BUDGET').toUriString()}">BUDGET</a></th>
            <th><a th:href="${urlBuilder.replaceQueryParam('orderBy', 'POPULARITY').toUriString()}">POPULARITY</a></th>
            <th style="width: 110px"><a th:href="${urlBuilder.replaceQueryParam('orderBy', 'RELEASE_DATE').toUriString()}">RELEASE DATE</a></th>
            <th><a th:href="${urlBuilder.replaceQueryParam('orderBy', 'RUNTIME').toUriString()}">RUNTIME IN MIN</a></th>
        </tr>
        <tr th:each="movie : ${movies}">
            <td>
                <a th:href="@{/movies/detail/{id}(id = ${movie.getId()} )}">
                    <span th:text="${ movie.getTitle() }"></span>
                </a>
            </td>
            <td><span th:text="${ movie.getOriginalTitle() }"></span></td>
            <td><a target="_blank" th:href="${ 'https://www.imdb.com/title/' + movie.getIdImdb() }"><span
                    th:text="${ movie.getIdImdb() }"></span></a></td>
            <td><span th:text="${ movie.getIdTmdb() }"></span></td>
            <td><span th:text="${ movie.getRating() }"></span></td>
            <td><span th:text="${ movie.getBudget() }"></span></td>
            <td><span th:text="${ movie.getPopularity()}"></span></td>
            <td><span th:text="${ movie.getReleaseDate().toString() }"></span></td>
            <td><span th:text="${ movie.getRunTime() }"></span></td>
        </tr>
    </table>
    <nav>
        <ul class="pagination justify-content-center" th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">
            <li th:classappend="${page == i} ? active : inactive" class="page-item" th:each="i : ${#numbers.sequence(startPage , endPage)}">
                <a class="page-link" th:href="${#uris.unescapePath(urlBuilder.replacePath('/movies/' + i).toUriString())}" th:text="${i}"></a>
                <!--<a class="page-link" th:href="@{/movies/{page}(page = ${i})}" th:text="${i}"></a>-->
            </li>
        </ul>
    </nav>
</div>