<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Movie Browser</title>
    <div id="navbar-header" class="w-100">
        <nav class="py-0 navbar navbar-expand-lg navbar-light bg-primary">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/movies/1">Movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/actors/1">Actors</a>
                </li>
                 <li class="nav-item">
                     <a class="nav-link" href="/crew/1">Other movie professions</a>
                 </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/1">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/register/page">Register</a>
                </li>
            </ul>
        </nav>
    </div>
</head>
<body>
<div class="container pt-5">
    <div th:if="${ template == 'movies'}">
        <div th:replace="movieTemplates/movies :: moviesFragment(movies = ${ movies })"></div>
    </div>
    <div th:if="${ template == 'movie'}">
        <div th:replace="movieTemplates/movieDetail :: movieDetailFragment(movie = ${ movie })"></div>
    </div>
    <div th:if="${ template == 'actors'}">
        <div th:replace="actorTemplates/actors :: actorsFragment(actors = ${ actors })"></div>
    </div>
    <div th:if="${ template == 'actor'}">
        <div th:replace="actorTemplates/actorDetail :: actorDetailFragment(actor = ${ actor })"></div>
    </div>
    <div th:if="${ template == 'users'}">
        <div th:replace="userTemplates/users :: usersFragment(users = ${ users })"></div>
    </div>
    <div th:if="${ template == 'user'}">
        <div th:replace="userTemplates/userDetail :: userDetailFragment(user = ${ user })"></div>
    </div>
    <div th:if="${ template == 'register'}">
        <div th:replace="userTemplates/register :: registerFragment()"></div>
    </div>
    <div th:if="${ template == 'crew'}">
        <div th:replace="crewTemplates/crew :: crewFragment(crew = ${ crew })"></div>
    </div>
    <div th:if="${ template == 'crewDetail'}">
        <div th:replace="crewTemplates/crewDetail :: crewDetailFragment(crewDetail = ${ crewDetail })"></div>
    </div>
</div>
</body>
<footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/js/js.js"></script>
</footer>
</html>
