<div th:fragment="registerFragment()" xmlns:th="http://www.w3.org/1999/xhtml" class="col-10 m-auto">
    <form action="#" th:action="@{/users/register}" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" aria-describedby="name" placeholder="Enter name">
        </div>
        <div class="form-group">
            <label for="surname">Surname</label>
            <input type="text" class="form-control" id="surname" name="surname" aria-describedby="surname" placeholder="Enter surname">
        </div>
        <div class="form-group">
            <label for="nickname">Nickname</label>
            <input type="text" class="form-control" id="nickname" name="nickname" aria-describedby="nickname" placeholder="Enter nickname">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <p class="text-danger" th:if="${inUse}">Username is already taken</p>
</div>