<div th:fragment="userDetailFragment(user)" xmlns:th="http://www.w3.org/1999/xhtml">
    <div id="movie">
        <h4><strong th:text="${ user.getNickname() }"></strong></h4>

        <div><strong>id: </strong><span th:text="${ user.getId() }"></span></div>
        <!--<div><strong>profile path: </strong><span><a target="_blank" th:href="${ user.getProfilePath() }" th:text="${ user.getProfilePath() }"></a></span></div>-->
        <div><strong>name: </strong><span th:text="${ user.getName() }"></span></div>
        <div><strong>surname: </strong><span th:text="${ user.getSurname() }"></span></div>
    </div>


    <h5 class="mt-2"><strong>Movies</strong></h5>
    <strong>rated movies</strong>
    <div class="row">
        <div class="ml-3" th:each="rating, count : ${user.getRatings()}">
            <strong th:text="${count.count + '. '}"></strong>
            <a th:href="@{/movies/detail/{id}(id = ${rating.getIdMovie()} )}">
                <span th:text="${rating.getTitle()}"></span>
            </a>
            <span th:text="${' with ' +  rating.getRating() + ' stars at ' + rating.getDate().toString()}"></span>
        </div>
    </div>
</div>