<div th:fragment="crewDetailFragment(crewDetail)" xmlns:th="http://www.w3.org/1999/xhtml">
    <div id="movie">
        <h4><strong th:text="${ crewDetail.getName() }">crewDetail</strong></h4>

        <div><strong>id: </strong><span th:text="${ crewDetail.getId() }"></span></div>
        <!--<div><strong>profile path: </strong><span><a target="_blank" th:href="${ crewDetail.getProfilePath() }" th:text="${ crewDetail.getProfilePath() }"></a></span></div>-->
        <div><strong>gender: </strong><span th:text="${ crewDetail.getGender() }"></span></div>
    </div>


    <h5 class="mt-2"><strong>Movies</strong></h5>
    <strong>worked on movies</strong>
    <div class="row">
        <div class="ml-3" th:each="movie, count : ${crewDetail.getMovies()}">
            <strong th:text="${count.count + '. '}"></strong>
            <a th:href="@{/movies/detail/{id}(id = ${movie.getIdMovie()} )}">
                <span th:text="${movie.getTitle()}"></span>
            </a><span th:text="${' as ' +  movie.getJob() + ' in ' + movie.getDepartment() + ' department'}"></span>
        </div>
    </div>
</div>