<div th:fragment="crewFragment(crew)" xmlns:th="http://www.w3.org/1999/xhtml">
    <form action="#" th:action="@{/crew/{page}(page = ${page} )}">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
            <input class="form-control" id="search" name="search" type="text" placeholder="Search" aria-label="crew-search">
        </div>
    </form>
    <table class="table-bordered table mt-3">
        <tr class="table-head">
            <th>NAME</th>
            <th>ID</th>
            <th>GENDER</th>

        </tr>
        <tr th:each="crewDetail : ${crew}">
            <td>
                <a th:href="@{/crew/detail/{id}(id = ${crewDetail.getId()} )}">
                    <span th:text="${ crewDetail.getName() }"></span>
                </a>
            </td>
            <td><span th:text="${ crewDetail.getId() }"></span></td>
            <td><span th:text="${ crewDetail.getGender() }"></span></td>
        </tr>
    </table>
    <nav>
        <ul class="pagination justify-content-center" th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">
            <li th:classappend="${page == i} ? active : inactive" class="page-item" th:each="i : ${#numbers.sequence(startPage , endPage)}">
                <a class="page-link" th:href="${#uris.unescapePath(urlBuilder.replacePath('/crew/' + i).toUriString())}" th:text="${i}"></a>
            </li>
        </ul>
    </nav>
</div>